* {
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-nav {
  font-size: 18px;
}

/* button  */

.btn:hover {
  color: white;
}

.btn a {
  text-decoration: none;
}
.btn a:hover {
  color: white;
}
/* progress bar  */

.progress {
  height: 40px;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}
.progress:hover {
  transform: scale(1.1);
}

/* card  */
.card {
  transition: all 0.5s ease;
  border-radius: 10px;
}
.card img {
  height: 100px;
  width: 100px;
  margin: auto;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 1px black;
}
.carousel-inner {
  
  border-radius: 55%;
  width: 348px;
  height: 340px;
}
.row img {
  border-radius: 47%;


}
